.header {
  display: block;
  width: 100%;
  background: deeppink;
  &__navigation {
    display: flex;
    justify-content: space-between;
    padding: 10px auto;
  }
  &__logo {

  }
  &__links-box {
    font-size: 22px;
    line-height: 1.1;

  }
  &__link {
    color: #FFFFFF;
  }
}